@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    /* outline: 2px solid red; */
}

body{
    width: 100vw;
    height: 100%;
    text-transform: uppercase;
    overflow-x: hidden;
    padding-top: 100px;
}

/* ----- Header ----- */
header{
    background-color: #5e26cc;
    width: 100%;
    z-index: 1;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

header img{
    width: 15rem;
}

/* ----- Main ----- */

main{
    max-width: 1250px;
    min-height: calc(100vh - 200px);
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr 400px;
    position: relative;
    
}

.product-section{
    padding: 2rem;
    text-align: center;
}

.title-of-section{
    margin-bottom: 2rem;
    text-wrap: wrap;
    color: #5e26cc;
}

.product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    background-color: #5e26cc;
    width: 10rem;
    height: 15rem;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: -9px 10px 0px -1px rgba(71, 169, 255, 1);
}

.card img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    background-color: transparent;
    border-radius: 10px;
}

.card p {
    text-align: center;
    color: aliceblue;
    font-size: 0.8rem;
    padding: 10px;
    
}


/* add product */

.form-add-container{
    width:100%;
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: sticky;
    top: 100px;

}

.form-add-container input{
    width: 100%;
    height: 58px;
    border-radius: 10px;
    border: 3px solid #5e26cc;
    padding: 10px;
    display: flex;
}

.form-add-container  input::placeholder{
    color: #5e26cc;
    opacity: 0.5;
}

.button-form-container{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
}

.button {
    background-color: #5e26cc;
    border: solid 3px #5e26cc;
    height: 55px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: ease-in-out 0.1s;

}

.clean-button {
    background-color: transparent;
    color: #5e26cc;
}

.button:hover{
    background-color: #47a9ff;
    border: solid 3px #47a9ff;
    color: white;
}

.card-items{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
}

.delete {
    width: 40px;
    height: 40px;
    border: none;
    padding: 5px;
}

.delete:hover{
    background-color: rgb(247, 49, 39);
    border: none;
}

/* ----- Footer ----- */

footer{
    background-color: #5e26cc;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.6rem;
    color: white;
}

footer img {
    width: 10rem;
}

@media (width <= 1100px) {
  

main {
        grid-template-columns: 1fr ;
    }

    .form-add-container{
        order: -1;
        margin: auto;
        max-width: 472px;
        position: static;

    }

    .product-section{
       padding: 0px;
       padding-top: 40px;
        padding-bottom: 40px;
    }


   
}